*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height:100vh;
    background-image:url("../Assets/blood_donation1.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}

.parent-container{
    height:80vh;
    width:70vw;
    background-color:black;
    border:0.2rem solid rgb(240, 237, 237);
    opacity:0.7;
    border-radius:13px;
    box-shadow:4px 4px 5px black;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    box-shadow:2px 2px 4px rgb(255,102,0);
    animation:spin 1.2s infinite alternate;

}
@keyframes soin {
    0%{
        box-shadow:2px 2px 4px rgb(255,102,0);
    }
    100%{
        box-shadow:4px 4px 19px rgb(255,102,0);
    }
    
}
.title{
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:6vh;
    font-size:2.5rem;
    text-shadow:2px 1px;
    margin-top:0.5rem;
    margin-bottom:0.5rem;

}
.name_input,.birth,.nic{
    height:6vh;
    
    display:flex;
    justify-content:flex-start;
    align-items:center;

    


}
.name_input label,.birth label,.nic label{
    color:white;
    margin-left:4rem;
    font-size:1.2rem;
    margin-right:0.4rem;

}
.name_input input{
    margin-left:2.6rem;
}
.name_input input,.birth input,.nic input{
    padding:0.3rem;
    padding-left:1rem;
    width:30vw;
    height:3vh;
    border-radius:0.4rem;

}
.birth input{
    margin-left:0.4rem;
}
.name_input input::placeholder,.nic input::placeholder{
    font-size:1rem;

}
.gen{
    height:10vh;
    display:flex;
    margin-left:4rem;
    align-items:center;
    justify-content:flex-start;

}
.gen label{
    color:white;
    font-size:1.2rem;
}
.label1{
    color:white;
    font-size:1.2rem;
    margin-right:2rem;

}
.nic input{
    margin-left:2rem;
}
.label2{
    margin-right:0.5rem;
}
.label3{
    margin-left:2rem;
    margin-right:0.5rem;
}
.donated{
    margin-left:4rem;
    
}
.label4{
    color:white;
    font-size:1.2rem;
    margin-right:0.5rem;
}
.buut{
    margin-top:0.8rem;
    margin-left:4rem;
    margin-bottom:4rem;
}
.sbutton,.rbutton{
    font-size:1.2rem;
    color:white;
    background-color:red;
    padding:0.3rem 1rem;
    border-radius:0.5rem;
    box-shadow: 0 0 1px rgb(255,102,0);
    transition:all 0.5s ease-in;
    

}
.sbutton{
    margin-left:3rem;
}
.sbutton:hover{

    box-shadow:1px 1px 2px rgb(255, 102, 0);
}
.sbutton:active{
    font-size:1.3rem;
    box-shadow:2px 2px 4px rgb(255,102,0);
}
.rbutton:hover{

    box-shadow:1px 1px 2px rgb(255, 102, 0);
}
.rbutton:active{
    box-shadow:2px 2px 4px rgb(255, 102, 0);
    font-size:1.3rem;

}

